/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne1.dtsi"

&default_transform {
    col-offset = <5>;
};


&kscan0 {
    col-gpios
        = <&nano_33_ble 3 GPIO_ACTIVE_HIGH>
        , <&nano_33_ble 4 GPIO_ACTIVE_HIGH>
        , <&nano_33_ble 5 GPIO_ACTIVE_HIGH>
        , <&nano_33_ble 6 GPIO_ACTIVE_HIGH>
        , <&nano_33_ble 9 GPIO_ACTIVE_HIGH>
        ;
};