# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE1_LEFT
    def_bool $(shields_list_contains,corne1_left)

config SHIELD_CORNE1_RIGHT
    def_bool $(shields_list_contains,corne1_right)